:root {
	--size-base: 15px !important;
	--line-height: 1.6 !important;
}

body {
	/* 1px lined background */
	background-image: linear-gradient(#666 1px, transparent 1px) !important;
	background-size: 100% calc(var(--size-base) * var(--line-height)) !important;
}

main {
	justify-content: flex-start !important;
}
